.color-1 {
    background-color: var(--color-1);
}

.color-2 {
    background-color: var(--color-2);
}

.color-3 {
    background-color: var(--color-3);
}

.color-4 {
    background-color: var(--color-4);
}

.color-5 {
    background-color: var(--color-5);
}